*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: transparent;
}

iframe{
  border: none;
  width: 100%;
}

.container{
  background-color: white;
  padding: 2rem 2rem;
  border-radius: 2%;
}
@media (min-width: 768px){
  body{
    background-color: #018749;
    align-items: center;
  }
  .container{
    background-color: none;
  }
}